header, footer{
    background-color: blue;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}

nav{
    background-color: rgb(100, 0, 100, 0.3);
    text-align: center;
    padding: 20px;
}

.c1 h2{
    border-style: solid;
    border-color: orange;
    border-width: 3px 3px 3px 15px;
    padding: 10px
}

.c2 h2{
    border-style: solid;
    border-color: darkolivegreen;
    border-width: 3px 3px 3px 15px;
    padding: 10px;
}



#s4 p{
    color: green;
}