/* 
#004BB3
#006AFF
#3971BF
#4D97FF
#00357F
*/
body{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #00357F;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    height: 200px;
}

div{
    float:left;
    margin: 20px;
}

header img{
    width: 160px;
    height: 160px;
}

nav{
    clear:both;
    background-color: #3971BF;
    text-align: left;
    padding: 20px;
    font-size: 20px;
}

nav a{
    text-decoration: none;
    display: inline-block;
    width: 120px;
    text-align: center;
}

nav a:link, nav a:visited{
    background-color: #3971BF;
    color: white;
}

nav a:hover, nav a:active{
    background-color: white;
    color:blue;
}



section{
    box-sizing: border-box;
    margin: 10px;
    /* padding: 10px; */
    width: 47%;
    float: left;
    height: 200px;
    
}

.c1 h2{
    border-style: solid;
    border-color: #00357F;
    border-width: 3px 3px 3px 15px;
    padding: 10px;
    margin: 5px;
}

.c1{
    border: solid #00357F 2px;
}

.c2 h2{
    border-style: solid;
    border-color: #4D97FF;
    border-width: 3px 3px 3px 15px;
    padding: 10px;
    margin: 5px;
}

.c2{
    border: solid #4D97FF 2px;
}


section p{
    color: green;
}

section p, section ul, section ol{
    margin-left: 30px;
}


footer{
    clear: both;
    background-color: #00357F;
    color: aliceblue;
    text-align: left;
    padding: 10px;
    margin-top: 20px;
}